accelerate==1.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
attrs==25.3.0
babel==2.17.0
blis==1.3.0
cachetools==6.1.0
camel_tools==1.5.6
catalogue==2.0.10
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.21.1
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
cymem==2.0.11
datasets==4.0.0
dill==0.3.8
docopt==0.6.2
docutils==0.21.2
editdistance==0.8.1
emoji==2.14.1
et_xmlfile==2.0.0
filelock==3.18.0
flatbuffers==25.2.10
frozenlist==1.7.0
fsspec==2025.3.0
future==1.0.0
gliner==0.2.21
huggingface-hub==0.34.1
humanfriendly==10.0
idna==3.10
imagesize==1.4.1
indic-nlp-library==0.92
Janome==0.5.0
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.1
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Morfessor==2.0.6
mpmath==1.3.0
muddler==0.1.3
multidict==6.6.3
multiprocess==0.70.16
murmurhash==1.0.13
networkx==3.5
numpy==2.3.2
onnxruntime==1.22.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pillow==11.0.0
preshed==3.0.10
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
pyarrow==21.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyreadline3==3.5.4
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
rich==14.1.0
roman-numerals-py==3.1.0
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.16.1
sentencepiece==0.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
snowballstemmer==3.0.1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.2.3
sphinx-argparse==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.5.1
sympy==1.14.0
tabulate==0.9.0
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.19.1
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.17.0+cu118
tqdm==4.67.1
transformers==4.41.2
typer==0.16.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.1